openai
google-api-python-client
google-cloud-speech==2.19.0
google-cloud-texttospeech==2.14.1
grpcio
python-dotenv
regex
websockets
numpy

types-pyaudio
types-regex
types-requests
types-beautifulsoup4
